.page {
  font-family: "Myriad Pro", "Myriad Pro Light SemiExtended", sans-serif;
  margin: 0 auto;
}
.header__top {
  background-color: #00aa4b;
  color: white;
  padding-top: 17px;
  padding-bottom: 15px;
}
.header__content {
  max-width: 1545px;
  width: 100%;
  margin: auto;
}
.menu-top__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 28px;
  width: 43%;
  padding: 0 28px;
  border-left: 1px solid rgb(255, 255, 255, 0.251);
}
.menu-top__list:first-child {
  border-left: none;
  padding-left: 0;
  width: 28%;
}
.menu-top__list:last-child {
  padding-right: 0;
  width: 40%;
}
.menu-top__email {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 14px;
}
.menu-top__phone {
  vertical-align: middle;
  margin-right: 5px;
  width: 14px;
  height: 16px;
}
.header__search {
  background-color: #e8e7e7;
}
.header__search-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo__image {
  vertical-align: bottom;
  margin-right: 8px;
}
.logo__text {
  text-align: center;
  font-size: 33px;
}
.header__form-conteiner {
  width: 57.2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  width: 65px;
  height: 35px;
  color: #777777;
  border: none;
  border-radius: 5px 0 0 5px;
  appearance: none;
  background: url(./image/select-icon.png) no-repeat 86% / 15%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
form {
  margin: 0;
  display: flex;
  flex-grow: 2;
}
.header__input {
  width: 94%;
  border: none;
}
.header__button-search {
  background: url(./image/лупа.png) no-repeat center;
  width: 48px;
  height: 34px;
  border: none;
  background-color: #ffaf2d;
  border-radius: 0 5px 5px 0;
}
.header__supplier {
  width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.supplier__image {
  width: 34px;
  height: 34px;
}
.supplier__text {
  width: 94px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
.header__basket {
  width: 128px;
  display: flex;
  justify-content: space-between;
}
.basket {
  position: relative;
  width: 30px;
  height: 37px;
}
.basket__count {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ff8c00;
}
.basket__image {
  position: absolute;
  bottom: 0;
}
.basket__conteiner {
  width: 86px;
}
.basket__text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
.basket__sum {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
.header__products {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.11);
}
.header__products-conteiner {
  padding-top: 10px;
  padding-bottom: 10px;
}
.products__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.products__text {
  font-size: 16px;
  line-height: 18px;
  margin: 8px 0 0 0;
}
.products__img {
  margin: auto;
  display: block;
  width: 56px;
  height: 56px;
}

.content {
  background-color: #f4f2f2;
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.nav__content {
  width: 19.3%;
  padding-top: 28px;
  padding-bottom: 4px;
}
.nav__title {
  margin: 0;
  font-size: 24px;
  list-style: 45px;
  text-align: center;
  color: #ffaf2d;
}
.nav__list {
  width: 100%;
  padding: 5px 0 0;
  margin: 0;
  list-style: none;
}
.nav__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}
.nav__item {
  border-bottom: 1px solid rgb(186, 186, 186, 0.251);
}
.nav__item:last-child {
  border-bottom: none;
}
.nav__text {
  margin: 0;
  line-height: 45px;
  font-size: 16px;
  font-family: "Myriad Pro Light SemiExtended";
  color: #303030;
}
.nav__item-pointer {
  color: rgba(48, 48, 48, 0.4);
  font-size: 14px;
}
.nav__content:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.slider {
  width: 58.2%;
  height: 476px;
}
.slider__img {
  width: 100%;
  height: 100%;
}
.slide__conteiner {
  position: absolute;
  text-align: left;
  width: 51%;
  top: 60px;
  left: 67px;
}
.slide__subtitle {
  margin: 0;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(119, 119, 119);
  line-height: 1.25;
}
.slide__title {
  margin: 72px 0 16px;

  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(243, 241, 241);
  line-height: 42px;
}
.slide__text {
  margin: 0 0 65px;
  font-size: 18px;
  line-height: 20px;
  color: #f3f1f1;
  font-family: "Myriad Pro Light SemiExtended";
}
.slide__button {
  margin: 0;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 18px;
  background-color: rgb(255, 175, 45);
  border-radius: 50px;
  width: 129px;
  padding: 7px 0 6px;
  text-align: center;
}
.image-slider .swiper-button-next::after {
  color: rgba(255, 255, 255, 0.502);
  font-size: 24px;
}
.image-slider .swiper-pagination-bullets {
  bottom: 33px;
}
.image-slider .swiper-pagination-bullet-active {
  border-width: 1px;
  border-color: rgb(35, 35, 35);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.image-slider .swiper-pagination-bullet {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
}
.sale {
  border: 2px solid #ff8c00;
  background-color: #ffffff;
  width: 19.3%;
  padding: 217px 0 52px;
}
.sale__conteiner {
  width: 69%;
  margin-left: 33px;
}
.sale__image {
  width: 70px;
  height: 86px;
}
.sale__text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Myriad Pro Light SemiExtended";
  color: #121212;
}
.sale__title {
  margin: 0 0 22px;
  font-family: "Myriad Pro";
  font-size: 36px;
  line-height: 40px;
}
.sale__link {
  margin: 0;
  color: #ff8c00;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Myriad Pro Light SemiExtended";
}
.brands {
  padding-top: 20px;
}
.brand__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #ffffff;
}
.brand__item {
  height: 69px;
  width: 18%;
  border-right: solid 1px rgb(186, 186, 186, 0.251);
  display: flex;
  align-items: center;
}
.brand__image {
  object-fit: contain;
  margin: auto;
}

.brand__link {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #232323;
  max-width: 95px;
  margin: 0 auto;
}
.main__content {
  max-width: 1420px;
  width: 100%;
  margin: auto;
}
.news {
  padding-top: 173px;
}
.news__title {
  margin-bottom: 37px;
  font-family: "Myriad Pro";
  color: rgb(18, 18, 18);
  line-height: 1.2;
  font-size: 40px;
}
.news__conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: 34.6% 57.9%;
  justify-content: space-between;
  grid-row-gap: 40px;
}
.news__item-big {
  width: 100%;
  grid-row: 1/4;
}
.news__info-big {
  margin-top: 29px;
}
.news__item-row {
  display: flex;
  justify-content: space-between;
}
.news__img {
  width: 100%;
}
.news__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__author {
  margin: 0;
  color: #00aa4b;
  font-size: 16px;
}
.news__data {
  margin: 0;
  color: #777777;
  font-size: 16px;
}
.news__img-row {
  width: 22.9%;
}
.news__info {
  width: 73.9%;
}
.news__item-title {
  width: 100%;
  font-family: "Myriad Pro";
  margin: 10px 0 0;
  font-size: 23px;
  line-height: 26px;
}
.news__paragraph {
  margin: 24px 0 0;
  font-size: 16px;
  font-family: "Myriad Pro Light SemiExtended";
}
.news__link-button {
  margin-top: 31px;
  border: solid 2px rgb(255, 175, 45);
  border-radius: 25px;
  width: 167px;
}
.news__link {
  text-align: center;
  display: block;
  margin: auto;
  width: 86px;
  font-size: 16px;
  font-family: "Myriad Pro";
  line-height: 2.5;
  color: rgb(255, 175, 45);
  text-decoration: none;
}
.suggestion {
  padding-top: 172px;
}
.suggestion__title {
  width: 40%;
  margin: 0 auto;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(35, 35, 35);
  line-height: 1.2;
  text-align: center;
}
.suggestion__text {
  width: 45.5%;
  margin: 16px auto 66px;
  color: #787878;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
.suggestion__cards {
  width: 100%;
  display: grid;
  grid-template-columns: 41.8% 55.2%;
  grid-gap: 13px;
}
.card__type-big {
  width: 100%;
  grid-row: 1/3;
}
.card__img {
  width: 100%;
  height: 100%;
}
.card__container-big {
  max-width: 51%;
  margin: auto;
  top: 69px;
  left: 24.6%;
}
.card {
  position: relative;
}
.card__container {
  position: absolute;
}
.card__author {
  margin: 0;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
  font-size: 20px;
  font-family: "Myriad Pro";
  line-height: 1.2;
  text-align: center;
}
.card__title {
  margin: 14px 0 27px;
  font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(18, 18, 18);
  line-height: 1.2;
  text-align: center;
}
.card__text {
  margin: 0;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(119, 119, 119);
  line-height: 1.2;
  text-align: center;
}
.card__container-black {
  width: 48%;
  top: 121px;
  left: 30%;
}
.text-left {
  text-align: left;
}
.card__author-black {
  color: rgb(255, 255, 255);
  margin: 0;
}

.card__title-black {
  color: rgb(255, 255, 255);
  max-width: 50%;
  margin: 0 0 27px;
}
.card__text-black {
  margin: 0;
}
.card__container-cold {
  width: 50%;
  top: 96px;
  left: 62px;
}
.offers {
  padding: 170px 0 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers__text-container {
  width: 60%;
}
.about__content {
  width: 18.4%;
}
.offers__button {
  color: #ffffff;
  font-size: 26px;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: rgb(35, 35, 35);
  margin-top: 40px;
}
.offers__title {
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(18, 18, 18);
  line-height: 1.2;
  margin: 0 0 20px;
}
.offers__text {
  font-size: 18px;
  font-family: "Myriad Pro Light SemiExtended";
  color: #121212;
  line-height: 20px;
  margin: 0;
  max-width: 92%;
  white-space: pre-line;
}
.offers__subtitle {
  color: #121212;
  font-size: 40px;
  font-family: "Myriad Pro Light SemiExtended";
  line-height: 1.2;
  margin: 35px 0 25px;
}
.about__logo {
  display: flex;
  flex-direction: column;
}
.about__img {
  width: 151px;
  height: 151px;
}
.about__logo-text {
  font-size: 40px;
  line-height: 38px;
  font-family: "Myriad Pro";
  color: #121212;
  margin-top: 33px;
}
.about__text {
  color: #777777;
  font-size: 16px;
  font-family: "Myriad Pro Light SemiExtended";
  margin: 0;
  line-height: 1.2;
  margin: 0 0 32px;
}
.about__title {
  color: #171717;
  font-size: 24px;
  font-family: "Myriad Pro";
  margin: 0;
}
.about__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  font-family: "Myriad Pro Light SemiExtended";
  color: #777777;
}
.about__list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 25px 0 0;
}
.about__item {
  text-align: left;
  color: #171717;
  font-size: 18px;
  line-height: 20px;
  font-family: "Myriad Pro Light SemiExtended";
}
.footer__navigation {
  background-color: #232323;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 93px;
  padding-bottom: 84px;
  font-family: "Myriad Pro Light SemiExtended";
  color: rgb(119, 119, 119);
}
.footer__list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer__link {
  font-family: "Myriad Pro Light SemiExtended";
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.footer__subtitle {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 30px;
}
.contact__list {
  margin: 0 0 24px;
  list-style: none;
  padding: 0;
  font-family: "Myriad Pro Light SemiExtended";
  color: #ffffff;
}
.contact__list:last-child {
  margin-bottom: 0;
}
.footer {
  background-color: #191919;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 22px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.footer__content {
  margin-left: 17px;
}
.footer__logo-text {
  font-size: 24px;
  line-height: 26px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
}
.footer__logo-subtitle {
  color: #787878;
  font-size: 16px;
  line-height: 18px;
  font-family: "Myriad Pro Light SemiExtended";
  margin: 0;
}
.footer__development {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Myriad Pro";
  line-height: 1.59;
  margin: 0;
}

@media screen and (max-width: 1648px) {
  .header__content {
    max-width: 1300px;
  }
}
@media screen and (max-width: 1400px) {
  .header__content {
    max-width: 1200px;
  }
  .menu-top__list {
    font-size: 14px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1300px) {
  .header__content {
    max-width: 1160px;
  }
  .menu-top__list {
    font-size: 14px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) {
  .header__content {
    max-width: 1060px;
  }
}
@media screen and (max-width: 1140px) {
  .header__content {
    max-width: 1000px;
  }
  .menu-top__list {
    font-size: 12px;
    padding: 0 10px;
  }
  .menu-top__email {
    margin-right: 4px;
    width: 14px;
    height: 10px;
  }
  .menu-top__phone {
    margin-right: 2px;
    width: 11px;
    height: 13px;
  }
}
@media screen and (max-width: 1040px) {
  .header__content {
    max-width: 900px;
  }
}
@media screen and (max-width: 969px) {
  .header__content {
    max-width: 900px;
  }
  .menu-top__list {
    font-size: 12px;
    padding: 0 8px;
  }
}
@media screen and (max-width: 900px) {
  .header__content {
    max-width: 768px;
  }
  .menu-top__list {
    font-size: 10px;
    padding: 0 4px;
  }
}
@media screen and (max-width: 767px) {
  .header__content {
    max-width: 767px;
  }
}
