@import url(./blocks/header.css);
@import url(./blocks/header-search.css);
@import url(./blocks/header-products.css);
@import url(./blocks/nav-content.css);
@import url(./blocks/slider.css);
@import url(./blocks/sale.css);
@import url(./blocks/brands.css);
@import url(./blocks/news.css);
@import url(./blocks/suggestion.css);
@import url(./blocks/offers.css);
@import url(./blocks/footer-navigation.css);
@import url(./blocks/footer.css);
@import url(./blocks/popup.css);

.page {
  font-family: "Myriad Pro", "Myriad Pro Light SemiExtended", sans-serif;
  margin: 0 auto;
}
.header__content {
  max-width: 1545px;
  width: 100%;
  margin: auto;
}
.phone {
  display: none;
}
.btn__search {
  display: none;
}
.content {
  width: 100%;
  background-color: #f4f2f2;
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.main__content {
  max-width: 1420px;
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
}
@media (max-width: 1648px) {
  .header__content {
    max-width: 1300px;
  }
  .main__content {
    max-width: 1250px;
  }
}
@media (max-width: 1400px) {
  .header__content {
    max-width: 1200px;
  }
  .main__content {
    max-width: 1100px;
  }
}
@media (max-width: 1300px) {
  .header__content {
    max-width: 1160px;
  }
  .main__content {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  .header__content {
    max-width: 1060px;
  }
}
@media (max-width: 1140px) {
  .header__content {
    max-width: 1000px;
  }
}
@media (max-width: 1040px) {
  .header__content {
    max-width: 900px;
  }
  .main__content {
    max-width: 900px;
  }
}
@media (max-width: 969px) {
  .header__content {
    max-width: 900px;
  }
  .main__content {
    max-width: 800px;
  }
}
@media (max-width: 900px) {
  .header__content {
    max-width: 755px;
  }
  .main__content {
    max-width: 745px;
  }
}
@media (max-width: 767px) {
  .main__content {
    max-width: 694px;
  }
  .header__content {
    max-width: 767px;
  }
  .header-products,
  .header__supplier {
    display: none;
  }
  .basket__conteiner {
    display: none;
  }
  .header__form-conteiner {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    border-bottom: solid 2px rgb(186, 186, 186, 0.251);
    padding: 12px 0 16px;
  }
  .promo__content {
    display: block;
    padding: 0;
  }
  .phone {
    display: block;
    background: url(./image/telephone.png) no-repeat center;
    background-size: 45px 56px;
    width: 45px;
    height: 56px;
    margin-left: 38px;
  }
  .btn__search {
    display: block;
    background: url(./image/поиск-длямобил.png) no-repeat center;
    background-size: 47px 53px;
    width: 47px;
    height: 53px;
  }
}
@media (max-width: 690px) {
  .header__content {
    width: 100%;
  }
  .main__content {
    width: calc(100% - 40px);
  }
  .phone {
    background-size: 30px 41px;
    width: 30px;
    height: 41px;
    margin-left: 10px;
  }
  .btn__search {
    background-size: 35px 41px;
    width: 35px;
    height: 41px;
  }
}
@media (max-width: 413px) {
  .main__content {
    width: calc(100% - 30px);
  }
  .header {
    padding: 10px 0 12px;
  }
  .phone {
    background-size: 25px 36px;
    width: 25px;
    height: 41px;
    margin-left: 10px;
  }
  .btn__search {
    background-size: 30px 36px;
    width: 30px;
    height: 41px;
  }
}
