.header-search {
  background-color: #e8e7e7;
}
.header__search-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.header__logo a {
  display: flex;
  align-items: center;
}
.logo__image {
  margin-right: 8px;
}
.logo__text {
  font-size: 33px;
  color: black;
}
.header__logo-subtitle {
  display: none;
}
.header__form-conteiner {
  width: 57%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select {
  position: relative;
  box-sizing: border-box;
}
.select select {
  width: 65px;
  display: block;
  font-family: "Myriad Pro Light SemiExtended";
  font-size: 16px;
  line-height: 12px;
  color: #777777;
  border: none;
  border-radius: 5px 0 0 5px;
  appearance: none;
  -moz-appearance: none;
-webkit-appearance: none;
  background: url(../image/select-icon.png) no-repeat 86% / 15%;
  background-color: #f1f1f1;
  padding: 12px 16px 11px;
  box-sizing: border-box;
}
.header__form {
  margin: 0;
  display: flex;
  flex-grow: 2;
}
.header__input {
  width: 94%;
  border: none;
  padding: 3px 0 2px;
}
.header__button-search {
  background: url(../image/лупа.png) no-repeat center;
  width: 48px;
  height: 35px;
  border: none;
  background-color: #ffaf2d;
  border-radius: 0 5px 5px 0;
}
.header__supplier {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.supplier__image {
  background: url(../image/we.png) no-repeat center;
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}
.supplier__text {
  width: 100px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #777777;
}
.header__supplier:hover .supplier__image {
  background: url(../image/при\ наведении-мы.png) no-repeat center;
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}
.header__basket {
  width: 128px;
  height: 50px;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
}
.header__basket:hover {
  background-color: rgb(255, 175, 45);
  background-size: 157px 63px;
  color: rgb(243, 241, 241);
}
.header__basket:hover p {
  color: rgb(243, 241, 241);
}
.basket {
  position: relative;
  width: 30px;
  height: 37px;
}
.basket__count {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ff8c00;
}
.basket__image {
  background: url(../image/корзина.png) no-repeat center;
  background-size: 29px 27px;
  position: absolute;
  bottom: 0;
  width: 29px;
  height: 27px;
}
.header__basket:hover .basket__image {
  background: url(../image/online-shopping-cart.png) no-repeat center;
  background-size: 29px 27px;
  position: absolute;
  bottom: 0;
  width: 29px;
  height: 27px;
  z-index: 5;
}
.basket__conteiner {
  width: 95px;
}
.basket__text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
.basket__sum {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 1648px) {
  .header__form-conteiner {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .logo__text {
    font-size: 26px;
  }
  .header__form-conteiner {
    width: 45%;
  }
}
@media (max-width: 900px) {
  .logo__text {
    font-size: 20px;
  }
  .logo__image {
    width: 35px;
    height: 35px;
  }
  .header__search-conteiner {
    padding-top: 0;
  }
  .select select {
    width: 55px;
    font-size: 14px;
    line-height: 10px;
  }
  .header__supplier {
    width: 124px;
  }
  .supplier__text {
    width: 84px;
    font-size: 12px;
    line-height: 14px;
  }
  .basket__sum {
    font-size: 12px;
    line-height: 14px;
  }
  .basket__image {
    background-size: 25px 22px;
    width: 25px;
    height: 22px;
    bottom: 5px;
  }
  .basket__text {
    font-size: 12px;
    line-height: 16px;
  }
  .basket__count {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .header-search {
    background-color: #f1f1f1;
    flex-grow: 2;
  }
  .header__logo {
    flex-grow: 2;
  }
  .logo__image {
    width: 55px;
    height: 55px;
  }
  .logo__text {
    font-size: 30px;
    margin: 0;
    line-height: 32px;
  }
  .header__logo-subtitle {
    display: block;
    margin: 0;
    color: #777777;
    font-size: 18px;
    line-height: 20px;
  }
  .header__basket {
    width: 88px;
    padding-top: 0;
    margin-left: 30px;
  }
  .basket__image {
    background: url(../image/корзина-оран.png) no-repeat center;
    background-size: 56px 50px;
    width: 56px;
    height: 50px;
    bottom: 0;
    top: 4px;
  }
  .basket__count {
    width: 56px;
    font-size: 16px;
    text-align: center;
    font-family: "Myriad Pro Light SemiExtended";
  }
  .menu-top {
    position: relative;
  }
  .menu-top__nav {
    display: none;
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 105px;
    bottom: 0;
    width: 600px;
    height: 400px;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    z-index: 50;
  }
  .menu-top__nav-active {
    display: block;
  }
  .menu-top__list {
    width: 100%;
    margin: 0;
    flex-direction: column;
    font-size: 20px;
    line-height: 22px;
    font-family: "Myriad Pro Light SemiExtended";
  }
  .menu-top__list li {
    margin-bottom: 10px;
  }
  .menu-top__list:last-child,
  .menu-top__list:first-child {
    width: 100%;
  }
}
@media (max-width: 690px) {
  .logo__image {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.logo__text {
  font-size: 14px;
  line-height: 16px;
}
.header__logo-subtitle {
  font-size: 10px;
  line-height: 12px;
}
.header__basket {
  width: 40px;
  height: 41px;
  margin-left: 10px;
}
.basket__image {
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  bottom: 0;
  top: 10px;
}
.basket__count {
  width: 25px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
text-align: right;
}
.basket {
  height: 41px;
}
.menu-top__nav {
  top: 57px;
  width: 320px;
  height: 400px;
}
.menu-top__list {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
}
.menu-top__list:first-child{
margin-top: 10px;
}
}